@charset "utf-8";
/* CSS Document */

 
#container {
	overflow: hidden;
	background-color: #D2EC0B;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	height:86px;
	margin-left: auto;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	word-spacing: normal;
	font-size: 36px;
	}


#header {
	/*color: #83BC86;
	background-color: #83BC86;*/
	height: 86px;
	position: relative;
	list-style-position: inside;
	vertical-align: baseline;
	margin-right: 380px;
	margin-left: 100px;
	font-size: 36px;
	text-shadow: 0px -1px 0px rgba(49, 49, 49, 0.9);
	margin-bottom: 15px;
}



#header p {
    font-size: 20px;
    font-variant: small-caps;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
}
#header a {
    font-size: 20px;
    font-variant: small-caps;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 90px;
}
#header ul li {
    float: left;
}
#header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}